<div layout="{{align1}}" layout-xs="column" layout-wrap>
 
 <card-drective flex="{{flex}}" flex-xs="100" data="note" user-data="user"
             pin="pin(note)"
			 delete-reminder="deleteReminder(note)"
			 show-alert="showAlert(note)"
			 reminder-function="reminderFunction(note,reminder)"
			 image-upload="imageUpload(note)"
			 open-hidden-button="openHiddenButton(note)"
			 trash="trash(note)"
			 social-share="socialShare(note)"
			 archive="archive(note)"
			 add-copy="addCopy(note)"
			 label-note="labelNote(note)"
			 color="color()"
			 col="color"
			 option="options"
			 color-changed="colorChanged(newColor, note)"
			
			 ng-repeat="note in notes |  filter:{archive:true}| filter:{trash:false} |filter:{pin:false}"></card-drective> 
 </div>
