
<md-content>
  
  		<div layout="row"  layout-wrap>
  		
    <div flex="33"  ng-repeat="note in notes| filter:{archive:true}| filter:{trash:false} |filter:{pin:false}" class="content-class" ng-click="" flex >
     	<!-- <md-grid-tile> -->
      <md-card ng-style="{'background-color': note.color}">
      	<div>
      		<div  class="pin-class">
      		<md-icon ng-click="pin(note)" md-svg-icon="image/pin.svg" layout-align="end start"></md-icon>
      		</div>
		</div>
       </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="column" layout-align="start">
      	<div><h4>{{note.title}}</h4></div> 
      	<div><h2>{{note.description}}</h2></div>
      	<br>     
        </md-card-actions>
        <div layout="row" layout-align="space-around">
        
        	<div>
        	<md-menu >
        		<md-icon ng-click="$mdMenu.open($event)" md-svg-icon="image/touch_black.svg" ></md-icon>
        		<md-menu-content>
        		<md-menu-item>
        			<level>Reminder</level>
        		</md-menu-item>
        		<md-menu-item>
        			<md-button ng-click="">Later today</md-button>
        		</md-menu-item>
        		<md-menu-item>
        			<md-button ng-click="">Tomorrow</md-button>
        		</md-menu-item>
        		<md-menu-item>
        			<md-button ng-click="">Next-week</md-button>
        		</md-menu-item>
        		<md-menu-item>
        			<md-button ng-click="">Pick data & time</md-button>
        		</md-menu-item>
        		<md-menu-item>
        			<md-button ng-click="">Pick Place</md-button>
        		</md-menu-item>
        		</md-menu-content>
        	</md-menu>
        	</div>
        	<div>
					<md-icon ng-click="" md-svg-icon="image/collabroter.svg" ></md-icon>
			</div>
			<div>
					<md-icon ng-click="" md-svg-icon="image/image.svg" ></md-icon>
			</div>
        	<div>
				<color-picker ng-model="note.color" on-color-changed="colorChanged(newColor, note)" color="color" options="options"></color-picker>
			</div>
        	<div>
        	<md-icon  ng-click="archive(note)" md-svg-icon="image/unarchive.svg" ></md-icon>
        	</div>
        	<div>
        	<md-menu>
        			<md-icon ng-click="$mdMenu.open($event)" aria-label="Open some menu" md-svg-icon="image/menudown.svg" flex></md-icon>
        			<md-menu-content>
        			<md-menu-item>
        			<md-button ng-click="trash(note)" >delete note</md-button>
        			</md-menu-item>
        			<md-menu-item>
        			<md-button ng-click="">add level</md-button>
        			</md-menu-item>
        			<md-menu-item>
        			<md-button ng-click="" ng-disabled="true">add drawing</md-button>
        			</md-menu-item>
        			<md-menu-item>
        			<md-button ng-click="addNode(note)">make copy</md-button>
        			</md-menu-item>
        			<md-menu-item>
        			<md-button ng-click="" ng-disabled="true">show checkboxes</md-button>
        			</md-menu-item>
        			<md-menu-item>
        			<md-button ng-click="" ng-disabled="true">copy to googleDocs</md-button>
        			</md-menu-item>
        			<md-menu-content>
        			</md-menu>
        	</div>
        
        </div>
      </md-card>
    
      </div>
    	</div>
  </md-content>