
<md-dialog> 
		<level>Collobratore</level>
           <p>{{user.userName}} (Owner)</p>
             <div>
             <md-card>
             	<md-dialog-content>
           		
               <input ng-model="note.title" placeholder="Email" name="email"></nput>
           	
	           	</md-dialog-content>
           	  </md-card>
           	  </div>
            <md-dialog-actions>
              <md-button ng-click="closeDialog()" class="md-primary">
               Done
              </md-button>
            </md-dialog-actions>
          </md-dialog>'
          