<div>
<md-dialog layout="column"> 
		<div style="margin-top: 5px">
			<level>Collobratore</level>
		</div>
           <div layout="row">
           		<div flex="33" style="height: 50px;width: 50px">
           		<img style="margin-left:5px;border-radius: 30px;max-width: 120%" alt="{{user.userName.charAt(0)}}" style=" border-radius: inherit;"  ng-src="{{user.proFile}}"/>
           		</div>
           		<div flex="66" style="height: 60px;width: 60px">
           		<span>{{user.userName}}(Owner)</span>
                <div>{{user.email}}</div>
           		</div>
           		<div>{{userData.userName}}</div>
           </div>
            <div ng-repeat="user_info in note.collaboratorSet">
           	  <div layout="column">
           	  	<div>
           	  	<img style="border-radius: 15px;max-width: 60%" alt="{{user.userName.charAt(0)}}" style=" border-radius: inherit;"  ng-src="{{user_info.proFile}}"/>
           	  	</div>
           	  	   <div>
           	  		<level>{{user_info.email}}</level>
           	  		 <div>
           	  	     <md-icon ng-click="removeCollab(note,user_info.email)" md-svg-icon="image/delete.svg" layout-align="end start"></md-icon>
           	  	   </div>
           	  	</div>
            </div>
            </div>
             <div>
             <md-card>
             	<md-dialog-content>
                <input type="email" placeholder="Email" ng-model="input">
	           	</md-dialog-content>
           	  </md-card>
           	  </div>
           	  
           	 
           	  
            <md-dialog-actions layout="row">
			  <md-button ng-click="cancelDialog()">Cancel</md-button> 
              <md-button ng-click="closeDialog(note,input)">Done</md-button>
            </md-dialog-actions>
           
          </md-dialog>
    </div>      