<div flex layout="column"
	layout-align="space-around center" >
	 <md-content layout-xs="column" layout="column" class="first-card">
    <div flex-gt-xs="50" layout="column"  flex>
      <md-card class="mdcardfirst" layout-align="star center">
       	<form layout=column>
            <md-content>
             <input  placeholder="Tittle" name="title" ng-model="note.title"></input><br>
             <input placeholder="Note create " name="description"  ng-model="note.description" ></input>
             </md-content>
			
			</form>	    
			<div layout="row" layout-align="start">
				<div>
					<md-icon md-svg-icon="image/touch_black.svg" flex></md-icon>
				</div>
				<div>
					<md-icon md-svg-icon="image/collabroter.svg" flex></md-icon>
				</div>
				<div>
					<md-icon md-svg-icon="image/colore.svg" flex></md-icon>
				</div>
				<div>
					<md-icon md-svg-icon="image/image.svg" flex></md-icon>
				</div>
				<div>
					<md-icon md-svg-icon="image/archive_black.svg" flex></md-icon>
				</div>
				<div>
        			<md-icon md-svg-icon="image/menudown.svg" flex></md-icon>
        	    </div>
				<div>
        	       <md-icon md-svg-icon="image/undo.svg" flex></md-icon>
        	    </div>
        	    <div>
        	       <md-icon md-svg-icon="image/redo.svg" flex></md-icon>
        	   </div>
				<div> 
				    <md-button ng-click="addNode()" layout-align="start">Done</md-button>
					<!-- <md-button ng-click="addNode()" layout-align="end end">done</md-button> -->
				</div>
			</div>
      </md-card>
        
    </div>
    	
    <div flex-gt-xs="50" layout="column"  ng-repeat="note in notes"  class="content-class" ng-click="deletebyId(note.id)" flex >
      <md-card>
       </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="column" layout-align="start">
      	<div><h4>{{note.title}}</h4></div> 
      	<div><h2>{{note.description}}</h2></div>
      	<br>     
        </md-card-actions>
        <div layout="row" >
        	<div>
        		<md-icon md-svg-icon="image/touch_black.svg" flex></md-icon>
        	</div>
        	<div>
					<md-icon md-svg-icon="image/collabroter.svg" flex></md-icon>
			</div>
			<div>
					<md-icon md-svg-icon="image/image.svg" flex></md-icon>
			</div>
        	<div>
				<md-icon md-svg-icon="image/colore.svg" flex></md-icon>
			</div>
        	<div>
        	<md-icon md-svg-icon="image/archive_black.svg" flex></md-icon>
        	</div>
        	<div>
        	<md-icon md-svg-icon="image/menudown.svg" flex></md-icon>
        	</div>
        	<div>
        	<md-icon md-svg-icon="image/undo.svg" flex></md-icon>
        	</div>
        	<div>
        	<md-icon md-svg-icon="image/redo.svg" flex></md-icon>
        	</div>
        	<div> 
				  <md-button ng-click="editNote($index.note.id)" layout-align="start">Done</md-button>
					<!-- <md-button ng-click="addNode()" layout-align="end end">done</md-button> -->
			</div>
        </div>
      </md-card>
     
      </div>
    	
  </md-content>
  <md-content >
  		
  </md-content>
</div>
