<div style="width: 75%; height: 200px" layout="column" layout-align="center start">
		<div layout-align="center center">
         <form>
          <md-input-container>
	    <input type="text" name="tittle" class="form-control"
		ng-model="note.tittle" required>
	
	
	</md-input-container>
	      <md-input-container> 
	    <input type="text" name="description" class="form-control"
		ng-model="note.description" required>
	</md-input-container>
	<md-button  ng-click="addNode()" >Done</md-button>
		</div>
</div>
