<div flex layout="column"
	layout-align="space-around center">
	 <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column" class="first-card">
      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}"  md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <input class="md-headline" placeholder="Tittle"></input>
            <input class="md-headline" placeholder="discription"></input>
              <md-button on-click="addNode()">done</md-button>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <!-- <md-button>Action 1</md-button>
          <md-button>Action 2</md-button> -->
        </md-card-actions>
      </md-card>
     
    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
           			
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm card-media" ng-repeat="note in notes"> {note.title} {note.discription}</div>
            
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
        
          
        </md-card-actions>
      </md-card>
     
      
    </div>
  </md-content>
</div>
