<div layout="column">
	
			<div id="div1" flex="40" flex-xs="30">
    		 <md-card layout="column">
         	<div>
       		<form>
            <div contenteditable="true">
             <input required="required" placeholder="Tittle" name="title" ng-model="note.title" style="border: 0px;outline :0;"></input>
             </div>
             <div >
             <input required="required" placeholder="Note create " name="description"  ng-model="note.description" style="border: 0px;outline :0;" ></input>
             </div>
			</form>	 
       	</div>   
				<div layout="row" layout-align="start" layout-padding="2px">
				<div>
					<md-menu>
        		<md-icon ng-click="$mdMenu.open()" md-svg-icon="image/touch_black.svg" flex></md-icon>
        		<md-menu-content>
        		<md-menu-item>
        			<level>Reminder</level>
        		</md-menu-item>
        		<md-menu-item>
        		<input mdc-datetime-picker="" name="reminder" ng-model="note.reminder" date="false" time="true" type="text" id="time" short-time="true"
placeholder="Today" min-date="minDate" format="hh:mm a" ng-model="time" class=" md-input"
readonly="readonly">


 
        		</md-menu-item>
        		<md-menu-item>
        			
        		<input time="false" date="true" mdc-datetime-picker="" type="text" id="date" name="reminder" ng-model="note.reminder" placeholder="Tomorrow"
ng-model="date" min-date="minDate" max-date="maxDate" class=" md-input" readonly="readonly">

        		</md-menu-item>
        		
        		</md-menu-content>
        	</md-menu>
				</div>
				<div>
					<md-icon ng-click="" md-svg-icon="image/collabroter.svg" flex></md-icon>
				</div>
				<div>
					<md-icon ng-click="" md-svg-icon="image/colore.svg" flex></md-icon>
				</div>
				<div>
					<md-icon ng-click="" md-svg-icon="image/image.svg" flex></md-icon>
				</div>
				<div>
					<md-icon ng-click="" md-svg-icon="image/archive_black.svg" flex></md-icon>
				</div>
				<div>
				<md-menu>
        			<md-icon ng-click="$mdMenu.open($event)" aria-label="Open some menu" md-svg-icon="image/menudown.svg" flex></md-icon>
        			<md-menu-content>
        			<md-menu-item>
        			<md-button ng-click="labelNote($event)">add level</md-button>
        			</md-menu-item>
        			<md-menu-item>
        			<md-button ng-click="" ng-disabled="true">add drawing</md-button>
        			</md-menu-item>
        			<md-menu-item>
        			<md-button>show checkboxes</md-button>
        			</md-menu-item>
        			<md-menu-content>
        			</md-menu>
        	    </div>
				
				<div layout-align="end end"> 
				    <level ng-click="addNode()" layout-align="start">Done</level>
				</div>
			</div>
          </md-card>
        
    </div>

   
 <div layout="row" layout-xs="column" layout-wrap  layout-margin layout-padding> 
 <card-drective layout="{{align1}}" layout-margin layout-padding 
 			 flex="{{flex}}" flex-xs="50" data="note" user-data="user"
             pin="pin(note)"
             edit-note="editNote(note)"
			 delete-reminder="deleteReminder(note)"
			 show-alert="showAlert(note)"
			 reminder-function="reminderFunction(note,reminder)"
			 image-upload="imageUpload(note)"
			 open-hidden-button="openHiddenButton(note)"
			 trash="trash(note)"
			 social-share="socialShare(note)"
			 archive="archive(note)"
			 add-copy="addCopy(note)"
			 label-note="labelNote(note)"
			
			 color="color()"
			 col="color"
			 option="options"
			 color-changed="colorChanged(newColor, note)"
			 delete-lavel="deleteLavel(note.id,labels.labelsId)"
			 ng-repeat="note in notes | filter:{archive:false}| filter:{trash:false} |filter:{pin:false}"></card-drective> 
 </div>

 
  <!-- ..........................this area use for pin......................................................... -->
<md-divider></md-divider>
 
  <div  layout="row" layout-xs="column" layout-wrap layout-margin layout-padding>
 
 <card-drective layout="{{align1}}" layout-align="center" layout-margin layout-padding
             flex="{{flex}}" flex-xs="50" data="note" user-data="user"
             pin="pin(note)"
			 delete-reminder="deleteReminder(note)"
			 show-alert="showAlert(note)"
			 reminder-function="reminderFunction(note)"
			 image-upload="imageUpload(note)"
			 open-hidden-button="openHiddenButton(note)"
			 trash="trash(note)"
			 social-share="socialShare(note)"
			 archive="archive(note)"
			 add-copy="addCopy(note)"
			 label-note="labelNote(note)"
			 color="color()"
			 col="color"
			 option="options"
			 color-changed="colorChanged(newColor, note)"
			
			 ng-repeat="note in notes | filter:{archive:false}| filter:{trash:false}|filter:{pin:true}"></card-drective> 
 </div>
</div>