<md-content flex layout="row" layout-align="space-around"
	layout-padding="layout-padding" ng-cloak="ng-cloak"> <md-card
	flex-gt-sm="66" flex-gt-md="40" style="max-height:700px"> <md-card-content>

<form name="userForm">
	<h3 style="text-align: center;">ResePassWord</h3>

	<md-input-container class="md-block"> <label>Email-Id</label>
	<input type="email" name="email" class="form-control"
		ng-model="user.email" required>
	<div ng-messages="userForm.email.$error" role="alert">
		<div ng-message-exp="['required','pattern']">Enter valid Email.</div>
	</div>
	</md-input-container>
	<md-button ng-disabled="!userForm.$valid" class="md-raised md-primary"
		ng-click="forgotPassword()"
		style="width: 465px; margin-left: 0px; background: #DB7093; color: white;">Click</md-button>
	<br />

	<center>
		<font color="red"><p ng-bind="error" ng-disable></p></font>
	</center>

</form>
</md-card-actions></md-card> </md-content>