<!DOCTYPE html>
<html>
<head >
<meta charset="UTF-8">
<title>loginPage</title>
<!-- <link rel="stylesheet" href="css/login.css"> -->
</head>
<body bgcolor="#014718">
	<script>
		
	</script>
	<div class="login" style="color:#536800; margin: 75px; padding-top: 10px; border: 12px" align="center" >
		<table>
		    
			<h1>SignIn Page</h1>
			<h3>Welcome To ToDoApp</h3>
			<tr>
				<td>Email</td>
				<td>:<input type="email" required=""></input></td>
			</tr>
			<tr>
				<td>Password</td>
				<td>:<input type="password" required="required"></input></td>
			</tr>
			<tr>
				<td></td>
				<td><button type="submit">logIn</button>
					</td>
			</tr>
			
		</table>
 			<div>
 			<a href="registration.html">RegistrationPage<a>
 			<h2>SignIn Social Side</h2>
 			<a href="">FacebookSignIn</a>
 			<a href="">GoogleSignIn</a>
 			</div>
	</div>
</body>
</html>