<md-navbar class="nav_bar" layout="row"  layout-align="start center">
	
		<div layout="row" layout-margin >
			<div layout-margin flex="8">
				<md-button class="md-icon-button md-primary" aria-label="">
				<md-icon md-svg-icon="image/menu.svg"></md-icon> </md-button>
			</div>
			<div>
				<h1 style="color:#f4eb41">Google Keep</h1>
			</div>
		</div>
		<div md-search-text="ctrl.searchText" layout="row" flex>
			<div flex="8">
				<md-button class="md-icon-button md-primary" aria-label="">
				<md-icon md-svg-icon="image/search.svg"></md-icon> </md-button>
			</div>
			<div flex  layout-align="center center">
			<input class="inputType" aria-label="Search" autocomplete="off" placeholder="Search" role="combobox" type="text">
				
			</div>
			<div flex="8">
				<md-button class="md-icon-button md-primary" aria-label="">
				<md-icon md-svg-icon="image/close_white.svg"></md-icon> </md-button>
			</div>
		</div>
		<div flex="8">
			<md-button class="md-icon-button md-primary" aria-label="">
			<md-icon md-svg-icon="image/refresh.svg"></md-icon> </md-button>
		</div>
		<div flex="8">
			<md-button class="md-icon-button md-primary" aria-label="">
			<md-icon md-svg-icon="image/grid_image.svg"></md-icon> </md-button>
		</div>
		<div layout="row">
			<div>
				<md-button class="md-icon-button md-primary" aria-label="">
				<md-icon md-svg-icon="image/view_comfy_white.svg"></md-icon> </md-button>
			</div>
			<div>
				<md-button class="md-icon-button md-primary" aria-label="">
				<md-icon md-svg-icon="image/notifications_white.svg"></md-icon> </md-button>
			</div>
			<div>
			  <img style="border-radius: 45px;max-width: 150%" alt="{{user.userName.charAt(0)}}" style=" border-radius: inherit;"  ng-src="{{user.proFile}}"/>  
			
			</div>
		</div>
	
</md-navbar>
 

