<md-navbar class="nav_bar" layout="row" layout-align="start center" flex-hide-xs>
	
		<div layout="row" >
			<div layout-margin flex="8">
				<md-button ng-click="toggleLeft()" class="md-icon-button md-primary" >
				<md-icon md-svg-icon="image/menu.svg"></md-icon> </md-button>
			</div>
			<div layout-margin flex="8">
				<h1 style="color:#f4eb41">Notes</h1>
			</div>
		</div>
		<div md-search-text="ctrl.searchText" layout="row" flex>
			<div flex="8" hide-xs> 
				<md-button class="md-icon-button md-primary" >
				<md-icon md-svg-icon="image/search.svg"></md-icon> </md-button>
			</div>
			<div flex  layout-align="center center" ng-click="searchFunction()">
			<input class="inputType" aria-label="Search" autocomplete="off" placeholder="Search" role="combobox" type="text">
				
			</div>
			<div flex="8" hide-xs>
				<md-button class="md-icon-button md-primary" >
				<md-icon md-svg-icon="image/close_white.svg"></md-icon> </md-button>
			</div>
		</div>
		<div flex="8" hide-xs>
			<md-button class="md-icon-button md-primary" >
			<md-icon md-svg-icon="image/refresh.svg"></md-icon> </md-button>
		</div>
		<div flex="8" hide-xs>
			<md-button ng-click="changeView()" class="md-icon-button md-primary" aria-label="list" ng-show="view">
			<md-icon md-svg-icon="image/grid_image.svg"></md-icon> </md-button>
		</div>
		<div layout="row">
			<div flex="8" hide-xs>
				<md-button ng-click="changeView()"  class="md-icon-button md-primary" aria-label="grid" ng-hide="view">
				<md-icon md-svg-icon="image/view_comfy_white.svg"></md-icon> </md-button>
			</div>
			<div flex="8" hide-xs>
				<md-button class="md-icon-button md-primary" >
				<md-icon md-svg-icon="image/notifications_white.svg"></md-icon> </md-button>
			</div>
			<div flex="8" flex-xs="4">
			 <md-menu>
			   <level ng-click="$mdMenu.open($event)"><img  style="border-radius: 45px;max-width: 150%" alt="{{user.userName.charAt(0)}}" style=" border-radius: inherit;"  ng-src="{{user.proFile}}"/>  
				</level>
				<md-menu-content>
				<md-menu-item>
				 <div>
				   <img ng-click="changeImage()" style="border-radius: 45px;max-width: 150%" alt="{{user.userName.charAt(0)}}" style=" border-radius: inherit;"  ng-src="{{user.proFile}}"/>
				 </div>
					{{user.userName}}
				</md-menu-item>
				<!-- <md-menu-item>
					{{user.email}}
				</md-menu-item> -->
				<md-menu-item layout-align="end end">
					<button ng-click="logout()">LogOut</button>
				</md-menu-item>
				</md-menu-content>
				</md-menu>
			</div>
		</div>
	
</md-navbar>
 


