<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body bgcolor="#014718">
	     <div style="color: #536800; padding-top: 100px;border: 18px" align="center">
		 <h1>Registration Form</h1>
		 <table>
			<tr>
				<td>User-Name</td>
				<td><input type="text" required="required" maxlength="18"></input></td>
			</tr>
			<tr>
				<td>Email-Id</td>
				<td><input type="email" required="required"></input></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" required="required" maxlength="16"
					min="8"></input></td>
			</tr>
			<tr>
				<td>Conform-Password</td>
				<td><input type="password" required="required" maxlength="16"
					min="8"></input></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="SignUp"></input></td>
			</tr>
		</table>

	</div>

</body>
</html>