<md-content flex layout="row" layout-align="space-around"
	layout-padding="layout-padding" ng-cloak="ng-cloak"> <md-card
	flex-xs="100" flex="40" style="max-height:700px"> <md-card-content>

<form name="userForm">
	<h3 style="text-align: center;">Reset PassWord</h3>
		<center>
		<font color="red"><p ng-bind="errormessage" ng-disable></p></font>
	</center>
	<md-input-container class="md-block"> <label>Password</label>
	<input flex-xs="90" type="password" name="password" class="form-control"
		ng-model="user.password" required>
	<div ng-messages="userForm.password.$error" role="alert">
		<div ng-message-exp="['required','pattern']">Enter the valid password.</div>
	</div>
	</md-input-container>
	<md-input-container class="md-block"> <label>Re-Password</label>
	<input flex-xs="90" type="password" name="conform_psd" class="form-control"
		ng-model="user.conform_psd" required>
	<div ng-messages="userForm.conform_psd.$error" role="alert">
		<div ng-message-exp="['required','pattern']">Enter the valid password.</div>
	</div>
	</md-input-container>
	<md-button flex-xs="90" ng-disabled="!userForm.$valid" class="md-raised md-primary"
		ng-click="SubmitClick()"
		ng-model="resetPsdCrtl.errormessage"
		style="width: 465px; margin-left: 0px; background: #DB7093; color: white;">Submit</md-button>
	<br />


</form>
</md-card-actions></md-card> </md-content>