 <md-sidenav  class="md-sidenav-left" md-component-id="left"
                md-disable-backdrop md-whiteframe="4">
<md-list>
	<md-list-item>
	<md-icon md-svg-icon="image/lightbulb_outline_black.svg" flex></md-icon>
	<level ng-click="notesFunction()">Notes</level></md-list-item>
	<md-list-item>
	<md-icon md-svg-icon="image/touch_black.svg" flex></md-icon>
	<level ng-click="reminderLoad()">Reminder</level></md-list-item>
	<md-divider></md-divider>
	<md-list-item>
	<spam flex>Level</spam><spam></spam><spam></spam><spam></spam>
	<level ng-click="lablesAlert($event)">Edit</level></md-list-item>
	<div ng-repeat="label in labels" layout="row">
	<div flex><md-icon md-svg-icon="image/label.svg" ></md-icon></div>
	<div>{{label.labelsName}}</div></div>
	<md-list-item>
	<md-icon md-svg-icon="image/add_black.svg" flex></md-icon>
	<level ng-click="lablesAlert($event)">Create new level</level></md-list-item>
	<md-divider></md-divider>
	<md-list-item>
	<md-icon md-svg-icon="image/archive_black.svg" flex></md-icon>
	<level ng-click="archiveFunction()">Archive</level></md-list-item>
	<md-list-item>
	<md-icon md-svg-icon="image/trash_black.svg" flex></md-icon>
	<level ng-click="trashFunction()">Trash</level></md-list-item>
	<md-divider></md-divider>
</md-list>
</md-sidenav>
