
<md-sidebar md-component-id="rigth" layout="column" flex class="side_bar" >
<md-list>
	<md-list-item>
	<md-icon md-svg-icon="image/lightbulb_outline_black.svg" flex></md-icon>
	<level ng-click="notesFunction()">Notes</level></md-list-item>
	<md-list-item>
	<md-icon md-svg-icon="image/touch_black.svg" flex></md-icon>
	<a href="">Reminder</a></md-list-item>
	<md-divider></md-divider>
	<md-list-item>
	<spam flex>Level</spam><spam></spam><spam></spam><spam></spam>
	<a href="">Edit</a></md-list-item>
	<md-list-item>
	<md-icon md-svg-icon="image/add_black.svg" flex></md-icon>
	<a href="">Create new level</a></md-list-item>
	<md-divider></md-divider>
	<md-list-item>
	<md-icon md-svg-icon="image/archive_black.svg" flex></md-icon>
	<level ng-click="archiveFunction()">Archive</level></md-list-item>
	<md-list-item>
	<md-icon md-svg-icon="image/trash_black.svg" flex></md-icon>
	<level ng-click="trashFunction()">Trash</level></md-list-item>
	<md-divider></md-divider>
	<md-list-item>
	<md-icon md-svg-icon="image/setting.svg" flex></md-icon>
	<a href="">Settings</a></md-list-item>
	<md-list-item>
	<md-icon md-svg-icon="image/feedback.svg" flex></md-icon>
	<a href="">Send FeedBack</a></md-list-item>
	<md-list-item>
	<md-icon md-svg-icon="image/help.svg" flex></md-icon>
	<a href="">Help</a></md-list-item>
	<md-list-item>
	<md-icon md-svg-icon="image/appsdownload.svg" flex></md-icon>
	<a href="">App downLoad</a></md-list-item>
	<md-list-item>
	<md-icon md-svg-icon="image/keyboard.svg" flex></md-icon>
	<a href="">Keyword Shortcuts</a></md-list-item>
</md-list>
</md-sidebar>
