#div1{
	height: 10px;
	width: 450px;
	margin-top:20px;
	margin-right:162px;
	text-align: center;
	align-self: center;
}


.pin-class{
	height: 24px;
	width: 26px;
	float: right;
	
}
.cardClass{
	width: 500px;
}
#done{
	margin-left: 98px;
}
