.input_class{
	width: 256px;
	height: ;
	color: white;
	padding: 2px;
	margin: 1px;
}
.md-icon-button md-primary
{
	
}
.inputType
{
	width: 100%;
	height: 30px;
	padding-top: 5px;
	margin-top: 5px;
}
.nav_bar{
	background-color: #f4b042;
}