.side_bar {
	width: 230px;
	height: 700px;
	/* color: #cccec2; */
}
.side_firstdiv
{
	width: 230px;
	height: 100px;
}
.second_div
{
	width: 230px;
	height: 100px;
}
.third_div
{
	width: 230px;
	height: 100px;
}
.sideLevel{
	width: 150px;
}
.mdlist{
	width: 250px;
}