<beans:beans xmlns="http://www.springframework.org/schema/mvc"
	xmlns:jms="http://www.springframework.org/schema/jms" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd 
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-2.5.xsd">
	
	<!-- <context:property-placeholder location="classpath:development.properties" /> -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	<context:component-scan base-package="com.bridgeit.ToDoApp"></context:component-scan>
	<mvc:annotation-driven />
	<mvc:resources location="/bower_components/" mapping="/bower_components/**"/>
	<mvc:resources location="/controller/" mapping="/controller/**"/>
	<mvc:resources location="/css/" mapping="/css/**"/>
	<mvc:resources location="/image/" mapping="/image/**"/>
	<mvc:resources location="/config/" mapping="/config/**"/>
	<mvc:resources location="/service/" mapping="/service/**"/>
	<mvc:resources location="/template/" mapping="/template/**"/>
	<mvc:resources location="/directive/" mapping="/directive/**"/>
	<!-- <mvc:resources location="/ColourePicker/" mapping="/ColourePicker/**"/> -->
	<context:annotation-config/>
	<beans:bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<beans:property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<beans:property name="url"
			value="${url}" />
		<beans:property name="username" value="${dbuser}" />
		<beans:property name="password" value="${dbpassword}" />
	</beans:bean>

	<!-- Hibernate 4 SessionFactory Bean definition -->
	<beans:bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<beans:property name="dataSource" ref="dataSource" />
		<beans:property name="annotatedClasses">
			<beans:list>
				<beans:value>com.bridgeit.ToDoApp.model.UserModel
				</beans:value>
				<beans:value>com.bridgeit.ToDoApp.model.Notes
				</beans:value>
				<beans:value>com.bridgeit.ToDoApp.model.Labels</beans:value>
			</beans:list>
		</beans:property>
		<beans:property name="hibernateProperties">
			<beans:props>

				<beans:prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect
				</beans:prop>
				<beans:prop key="hibernate.hbm2ddl.auto">update</beans:prop>
				<beans:prop key="hibernate.show_sql">true</beans:prop>
			</beans:props>
		</beans:property>
	</beans:bean>
	<tx:annotation-driven transaction-manager="transactionManager" />
	<beans:bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<beans:property name="sessionFactory" ref="sessionFactory" />
	</beans:bean>
	<beans:bean id="userModelDao" class="com.bridgeit.ToDoApp.dao.UserDaoImp">
	</beans:bean>
	<beans:bean id="userModelService" class="com.bridgeit.ToDoApp.service.UserServiceImp">
	</beans:bean>
	<beans:bean id="noteDao"
		class="com.bridgeit.ToDoApp.dao.NotesUserModelDaoImp">
	</beans:bean>
	<beans:bean id="noteService" class="com.bridgeit.ToDoApp.service.NodeServiceImp">
	</beans:bean>
	<beans:bean id="email" class="com.bridgeit.ToDoApp.email.EmailImp">
	
	</beans:bean>
	<beans:bean id="token" class="com.bridgeit.ToDoApp.token.TokenImp">
	</beans:bean>
	<beans:bean id="encode" class="com.bridgeit.ToDoApp.security.SecurityImp">
	</beans:bean>
	<beans:bean id="valid"
		class="com.bridgeit.ToDoApp.validation.ValidationImp">
	</beans:bean>
	  
	  <beans:bean id="levelDao" class="com.bridgeit.ToDoApp.dao.LevelImp">
	  </beans:bean>
	  <beans:bean id="lavelservice" class="com.bridgeit.ToDoApp.service.LablesServiceImp">
	  </beans:bean>
		<beans:bean id="emailService" class="com.bridgeit.ToDoApp.email.EmailProperties">
		<beans:property name="email" value="${userId}"/>
		<beans:property name="password" value="${password}"/>
		<beans:property name="emailAddress" value="${emailAddress:#{null}}"/>
	    </beans:bean>
	 
 
	<beans:bean id="mailSender"
		class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<beans:property name="host" value="smtp.gmail.com" />
		<beans:property name="username" value="${userId}" />
		<beans:property name="password" value="${password}" />
		<beans:property name="javaMailProperties">
			<beans:props>
				<beans:prop key="mail.smtp.auth">true</beans:prop>
				<beans:prop key="mail.smtp.starttls.enable">true</beans:prop>
				<beans:prop key="mail.smtp.socketFactory.port">587</beans:prop>
				<beans:prop key="mail.smtp.socketFactory.class">javax.net.ssl.SSLSocketFactory
				</beans:prop>
				<beans:prop key="mail.smtp.port">587</beans:prop>
			</beans:props>
		</beans:property>
	</beans:bean>
	<beans:bean id="amqConnectionFactory"
		class="org.apache.activemq.ActiveMQConnectionFactory">
	
		<beans:constructor-arg index="0"
			value="tcp://localhost:61616" />
	</beans:bean>

	
	<beans:bean id="connectionFactory"
		class="org.springframework.jms.connection.CachingConnectionFactory">
		<beans:constructor-arg ref="amqConnectionFactory" />
	</beans:bean>


	<beans:bean id="defaultDestination" class="org.apache.activemq.command.ActiveMQQueue">
		
		<beans:constructor-arg index="0" value="messageQueue" />
	</beans:bean>

	<beans:bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<beans:property name="connectionFactory" ref="connectionFactory" />
		<beans:property name="defaultDestination" ref="defaultDestination" />
	</beans:bean>


	<beans:bean id="jmsListenerContainerFactory"
		class="org.springframework.jms.config.DefaultJmsListenerContainerFactory">
		<beans:property name="connectionFactory" ref="connectionFactory" />
		<beans:property name="concurrency" value="3-10" />
	</beans:bean>

	<beans:bean id="messageProducer" class="com.bridgeit.ToDoApp.jms.MessageProducer"></beans:bean>
	<beans:bean id="consumer" class="com.bridgeit.ToDoApp.jms.MessageCounsumer"></beans:bean> 

	<jms:listener-container container-type="default"
		connection-factory="connectionFactory" acknowledge="auto">
		<jms:listener destination="messageQueue" ref="consumer"
			method="onMessage"></jms:listener>
	</jms:listener-container> 
	<!-- ====================================================== -->
  <!-- import different variables according to active profile -->
  <!-- ====================================================== -->
  <beans:beans profile="development">
    <context:property-placeholder
      ignore-resource-not-found="true"
      location="classpath*:/development.properties" />
  </beans:beans>
   
  <beans:beans profile="test">
    <context:property-placeholder
      ignore-resource-not-found="true"
      location="classpath*:/test.properties" />
  </beans:beans>
 
  <beans:beans profile="production">
    <context:property-placeholder
      ignore-resource-not-found="true"
      location="classpath*:/production.properties" />
  </beans:beans>
 
	
</beans:beans>